
$primary-color: #f35525;
$secondary-color: #fbd9cf;
$tertiary-color: #0071f8;
$font-color: #0f1113;
$font-light: #eee;
$bg-light: #fafafa;
$bg-dark: #1e1e1e;
$card-bg: rgb(245, 245, 245);
$bg-grey: #bab8b8;
$border-radius: 6px;
$border-radius-full: 35px;



