@import "../../styles/sass/variables";

.header_sec {

    position: relative;
    background-color: $bg-light;
    height: 100px;
    z-index: 100;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;

    .header-section {
        .main-nav {
            background: transparent;
            display: flex;

            a.logo {
                -webkit-transition: all 0.3s ease 0s;
                -moz-transition: all 0.3s ease 0s;
                -o-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
                display: inline-block;
                text-decoration: none;

                h1 {
                    line-height: 100px;
                    font-size: 28px;
                    text-transform: uppercase;
                    color: $font-color;
                    font-weight: 700;
                    letter-spacing: 2px;
                }
            }
        }

        ul.nav {
            flex-basis: 100%;
            margin-top: 30px;
            justify-content: right;
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            position: relative;
            z-index: 999;

            li {
                padding-left: 10px;
                padding-right: 10px;
                height: 100px;
                line-height: 100px;

                &:last-child {
                    padding-right: 0px;

                    a {
                        background-color: $bg-dark;
                        color: $font-light;
                        font-size: 14px;
                        font-weight: 400;
                        text-transform: none;
                        border-radius: 20px;
                        padding-left: 0px;
                        text-decoration: none;

                        &:hover {
                            color: $primary-color;

                            .icon {
                                color: $font-light;
                            }
                        }

                        .icon {
                            background-color: $primary-color;
                            display: inline-block;
                            width: 40px;
                            height: 40px;
                            text-align: center;
                            line-height: 40px;
                            margin-right: 10px;
                            border-radius: 50%;
                            margin-left: -1px;
                            padding: 0.5rem;
                        }


                    }


                }

                a {
                    display: block;
                    padding-left: 20px;
                    padding-right: 20px;
                    font-weight: 500;
                    font-size: 15px;
                    height: 40px;
                    line-height: 40px;
                    text-transform: capitalize;
                    color: $bg-dark;
                    -webkit-transition: all 0.4s ease 0s;
                    -moz-transition: all 0.4s ease 0s;
                    -o-transition: all 0.4s ease 0s;
                    transition: all 0.4s ease 0s;
                    border: transparent;
                    letter-spacing: .25px;
                    text-decoration: none;

                    .active {
                        color: $primary-color;
                    }
                }

                &:hover a {
                    color: $primary-color;
                }
            }
        }

        .menu-trigger {
            cursor: pointer;
            position: absolute;
            top: 23px;
            width: 32px;
            height: 40px;
            text-indent: -9999em;
            z-index: 99;
            right: 20px;
            display: none;
        }
    }





    //     @media (max-width: 1200px) {
    //         .header-area .main-nav .nav li {
    //             padding-left: 5px;
    //             padding-right: 5px;
    //         }

    //     }

    //     @media (max-width: 767px) {
    //         .background-header .main-nav {
    //             box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    //             border-radius: 0px 0px 25px 25px;
    //             width: 100%;
    //         }

    //         .background-header .main-nav .nav,
    //         .header-area .main-nav .nav {
    //             background-color: #fff;
    //         }

    //         .background-header .main-nav .nav li a,
    //         .header-area .main-nav .nav li a {
    //             line-height: 50px;
    //             height: 50px;
    //             font-weight: 400;
    //             color: #1e1e1e;
    //             background-color: #fff;
    //             border-radius: 0px 0px 25px 25px;
    //         }

    //         .background-header .main-nav .nav li,
    //         .header-area .main-nav .nav li {
    //             border-top: 1px solid #ddd;
    //             background-color: #f1f0fe;
    //             height: 50px;
    //             border-radius: 0px 0px 25px 25px;
    //         }

    //         .header-area .main-nav .nav {
    //             height: auto;
    //             flex-basis: 100%;
    //         }

    //         .header-area .main-nav .logo {
    //             position: absolute;
    //             left: 30px;
    //             top: 0px;
    //         }

    //         .background-header .main-nav .logo {
    //             top: 0px;
    //         }

    //         .background-header .main-nav .border-button {
    //             top: 0px !important;
    //         }

    //         .header-area .main-nav .border-button {
    //             position: absolute;
    //             top: 15px;
    //             right: 70px;
    //         }

    //         .header-area.header-sticky .nav li a:hover,
    //         .header-area.header-sticky .nav li a.active {
    //             color: #ee626b !important;
    //             opacity: 1;
    //         }

    //         .header-area.header-sticky .nav li.search-icon a {
    //             width: 100%;
    //         }

    //         .header-area .nav li:last-child a {
    //             background-color: transparent !important;
    //             font-weight: 300 !important;
    //             text-transform: capitalize !important;
    //         }

    //         .header-area {
    //             padding: 0px 15px;
    //             height: 80px;
    //             box-shadow: none;
    //             text-align: center;
    //         }

    //         .header-area .container {
    //             padding: 0px;
    //         }

    //         .header-area .logo {
    //             margin-left: 0px;
    //         }

    //         .header-area .menu-trigger {
    //             display: block !important;
    //         }

    //         .header-area .main-nav {
    //             overflow: hidden;
    //         }

    //         .header-area .main-nav .nav {
    //             float: none;
    //             width: 100%;
    //             display: none;
    //             -webkit-transition: all 0s ease 0s;
    //             -moz-transition: all 0s ease 0s;
    //             -o-transition: all 0s ease 0s;
    //             transition: all 0s ease 0s;
    //             margin-left: 0px;
    //         }

    //         .header-area .main-nav .nav li:first-child {
    //             border-top: 1px solid #eee;
    //         }

    //         .header-area.header-sticky .nav {
    //             margin-top: 80px !important;
    //         }

    //         .background-header.header-sticky .nav {
    //             margin-top: 80px !important;
    //         }

    //         .header-area .main-nav .nav li {
    //             width: 100%;
    //             background: #fff;
    //             padding-left: 0px !important;
    //             padding-right: 0px !important;
    //         }

    //     }



        // @media only screen and (max-width: 991px) {}
    
        // @media only screen and (max-width: 768px) {}
    
        // @media only screen and (max-width: 568px) {}
    
        // @media only screen and (max-width: 460px) {}
    
        // @media only screen and (max-width: 330px) {}
}